//colors
$celeste: #ccc;
$flirt: #af0075;
$tapestry: #aa6994;

body {
	font-family: 'Work Sans', 'sans-serif', 'bold';
	.modalinput{
		padding-right: 100px;
		margin-bottom: 5px;
	}
	p{
		margin: 0;
	}

	.input{
		text-align: center;
	}

	.topline {
		cursor: pointer;
		margin-bottom: 50px;
		top: 0;
		background-color: white;
		z-index: 1000;
		padding-top: 5px;
		position: sticky;
		margin-top: -1px;
		display: flex;
		align-items: center;
		.user{		
			margin-top:5px;
		}
		.links:hover{
		-webkit-transition: all 0.4s ease-out;
				-moz-transition: all 0.4s ease-out;
				-ms-transition: all 0.4s ease-out;
				-o-transition: all 0.4s ease-out;
				transition: all 0.4s ease-out;
				-moz-transform: rotate(-5deg) translateX(3px) translateY(3px);
				-webkit-transform: rotate(-5deg) translateX(3px) translateY(3px);
				-o-transform: rotate(-5deg) translateX(3px) translateY(3px);
				-ms-transform: rotate(-5deg) translateX(3px) translateY(3px);
				transform: rotate(-5deg) translateX(3px) translateY(3px);
				}

		.btn-primary {
			background-color: $flirt;
			border-color: $flirt;
			&:hover {
				background-color: $flirt;
				border-color: #600441;
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-o-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.05);
				-webkit-transition: all 0.4s ease-out;
				-moz-transition: all 0.4s ease-out;
				-ms-transition: all 0.4s ease-out;
				-o-transition: all 0.4s ease-out;
				transition: all 0.4s ease-out;
			}
		}
		.user:hover{
		text-shadow: 1px 5px 1px 	;
		transition: 0.6s ease-out;
		}
	}

	.gnomes {
		margin-top: 30px;

		.gnome {
			cursor: pointer;
			margin-bottom: 15px;
			display: flex;
			align-items: center;
			&:hover{
				background-color: #e6e6e6;
				border-radius: 10px;
				-moz-transform: scale(1.01);
				-webkit-transform: scale(1.01);
				-o-transform: scale(1.01);
				-ms-transform: scale(1.01);
				transform: scale(1.01);
				-webkit-transition: all 0.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				-ms-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;

			}

			.pasek {
			background-color: $tapestry;
			height: 9px;
			border-radius: 5px;
			margin: 6px 0;
			padding: 0;

				.stan {
				height: 100%;
				background-color: $flirt;
				border-radius: 5px;
				}
			}
			.nazwa {
			padding-left: 0;	
			}
		}
	}
}

	

		

	

	